<nav class="navbar navbar_cliente navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid fondo_navbar">
    
    <a class="navbar-brand">
      <%= link_to root_path, class: "nav-link" do %>
      <i class="bi bi-shop"></i> TIENDA </a>
          <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to admin_pedidos_path, class: "nav-link" do %>
            <i class="bi bi-list"></i> Pedidos </a>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_productos_path, class: "nav-link" do %>
            <i class="bi bi-bag"></i> Productos </a>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_categorias_path, class: "nav-link" do %>
            <i class="bi bi-grid-fill"></i> Categorías </a>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_destinos_path, class: "nav-link" do %>
            <i class="bi bi-geo-alt-fill"></i> Destinos </a>
          <% end %>
        </li>
      </ul>
    </div>
        
</nav>
